a.phpdebugbar-restore-btn {
  background: #efefef
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22px' height='22px' viewBox='0 0 36 42' fill='currentColor'%3E%3Ctitle%3EKirby CMS%3C/title%3E%3Cpath d='M18,0 L36,10.4981014 L36,31.5018986 L18,42 L0,31.5018986 L0,10.4981014 L18,0 Z M2,11.6926791 L2,30.3073209 L18,39.6389666 L34,30.3073209 L34,11.6926791 L18,2.36103344 L2,11.6926791 Z'%3E%3C/path%3E%3Cpolyline points='26 21 21 23.59 21 24 26 24 26 28 10 28 10 24 15 24 15 23.563 10 21 10 16 18 20.297 26 16'%3E%3C/polyline%3E%3C/svg%3E")
    no-repeat 6px 2px / 22px 22px;
}

a.phpdebugbar-tab.phpdebugbar-active {
  background: #efefef;
}

a.phpdebugbar-tab span.phpdebugbar-badge {
  background-color: #e74c3c;
  color: #fff;
}

div.phpdebugbar-header > div > * {
  padding: 5px 10px;
}
